*.log
*.pot
*.pyc
local_settings.py
.metadata
logs/all.log
initial_data.json
.project
.pydevproject
/bindir
/out
/spec
/tmp
/result
/.settings
.sconsign.dblite
build


src/etc/X11/xorg.conf
src/etc/init.d/apply-dbgopts
src/etc/init.d/create-devenv

